<%= javascript_include_tag 'top' %>

<h3>Top Page</h3>
<p>
このLINE botはあなたのメッセージの後ろに「チャー」をつけて返します。
</p>
<p>
<b>☆☆新機能☆☆</b><br />
下の「文字列切替」メニューから、<br />
後ろにつける文字に<b>好きな文字を</b>設定できます！
</p>
<p>
<div>○トーク画面イメージ</div>
<%= image_tag('o-char2.0.png', class: 'clb-talk-img', alt: 'talk image') %>
</p>

<p>
友だち登録はこちら！↓↓↓
</p>

<p>
<a href="https://line.me/R/ti/p/%40ido0212s">
<img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png">
</a>
</p>
<p>
LINE ID:
<span id="line-id">@ido0212s</span>
<!-- Copy Button -->
<button class="clb-copy-id-btn" data-clipboard-target="#line-id">Copy</button>
</p>

<p>
  <div>Bot の管理者: <a href="https://www.o-char.com" class="clb-blog-link">おチャーのブログ</a></div>
</p>

<p>
<div>LINE QRコード↓</div>
<img id="qr" src="http://qr-official.line.me/L/-g-rxQQgVQ.png">
</p>
