/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html, body {
  height: 100%;
}

html {
  background-color: #CCFFCC;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Verdana, "Helvetica Neue", Helvetica, Meiryo, sans-serif;
  position: relative;
  min-height: 100%;
  height: auto;
  width: 90%;
  max-width: 750px;
  margin: 0px auto;
  line-height: 1.5em;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Verdana, "Helvetica Neue", Helvetica, Meiryo, sans-serif;
}

.header {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #ddd;
}

.container {
  padding: 0px 14px;
  margin: 0px auto;
}

footer {
  // コンテンツの高さが足りない時にウィンドウの一番下に置かれるようにする.
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

.logo {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}

.clb-copy-id-btn {
  border-radius: 2px;
  cursor: pointer;
}

.clb-blog-link {
  color: #005000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.clb-blog-link:hover {
  opacity: 0.8;
  background-color: #e0ffe0;
}

#qr {
  width: 100%;
  max-width: 360px;
  max-height: 360px;
}
