<p>
このLINE botはあなたのメッセージの後ろに「チャー」をつけて返します！<br>
友だち登録はこちら！↓↓↓
</p>

<p>
LINE ID:
<span id="line-id">@ido0212s</span>
<!-- コピーボタン -->
<button class="btn1" data-clipboard-target="#line-id">Copy</button>
</p>

<!-- コピーボタンの実装JS -->
<!-- 不要なら削除 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
<script>
  $(function () {
    var clipboard = new Clipboard('.btn1');
    clipboard.on('success', function(e) {
      e.clearSelection();
    });
  });
</script>

<p>
<a href="https://line.me/R/ti/p/%40ido0212s">
<img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png">
</a>
</p>

<div>QRコード↓</div>
<img id="qr" src="http://qr-official.line.me/L/-g-rxQQgVQ.png">
